.container{
    display: block;
    border: 1px solid red;
    width: 60%;
    margin: auto;
    padding: 32px;
    background-color: rgb(233, 208, 175);
    display: flex;
    flex-flow: column;
}

.text{
    font-weight: bold;
    text-align: center;
    color: rgb(39, 34, 24);
    font-size: large;
}

